page-thanks {
.background_preview{
  background: url("../assets/imgs/gif.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 1000;
  background-position: 100% 100%;
  background-attachment: fixed;
}
  .thank
  {
    width: 832px;
    height: 562px;
    position: absolute;
    margin: 105px 90px 125px 102px;
  }

  .btn-2
  {
    background-color: #ae2086;
    color: #fcb616;
    padding: 10px 15px;
    position: absolute;
    font-size: 20px;
    bottom: 2.5%;
    left: 35%;
    border: 2px solid #fcb616;
    border-radius: 8px;
  }
  .btn-3
  {
    background-color: #ae2086;
    color: #fcb616;
    padding: 10px 15px;
    position: absolute;
    font-size: 20px;
    bottom: 2.5%;
    left: 56%;
    border: 2px solid #fcb616;
    border-radius: 8px;
  }
}
