page-thanks {
.background_preview{
  background: url("../assets/imgs/gif.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 1000;
  background-position: 100% 100%;
  background-attachment: fixed;
}
  .thank
  {
    width: 832px;
    height: 562px;
    margin: 125px 90px 125px 102px;
  }
}
