page-thanks {
.background_preview{
  background: url("../assets/imgs/gif_frame.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: 100% 100%;
  background-attachment: fixed;
}
  .thank
  {
    //width: 832px;
    //height: 703px;
    //position: fixed;
    //z-index: -1;
    //margin: 72px 90px 125px 102px;

    //width: 833px;
    //height: 731px;
    //position: fixed;
    //z-index: -1;
    //margin: 62px 90px 0px 102px;

    //width: 974px;
    //height: 731px;
    //position: fixed;
    //z-index: -1;
    ///* zoom: 110%; */
    //margin: 68px 0px 0px 27px;


    // Last one
    width: 974px;
    height: 731px;
    position: fixed;
    z-index: -1;
    zoom: 110%;
    margin: 38px 0px 0px 0px;
    // Last one


    //width: 901px;
    //height: 670px;
    //position: absolute;
    //z-index: -1;
    //margin: 18px 90px 0px 45px;
  //  width: 901px;
  //  height: 780px;
  //  position: absolute;
  //  z-index: -1;
  //
  ////  z-index: 1000;
  //  margin: -91px 90px 0px 45px;
  }
  //.thank{
  //  display:block;
  //  width:50%; height:50%;
  //  object-fit: cover;
  //}

  //.frame{
  //    width: 901px;
  //    height: 517px;
  //    position: absolute;
  //    z-index: 1000;
  //    margin: 127px 90px 70px 45px;
  //}

  .btn-2
  {
    background-color: #ae2086;
    color: #fcb616;
    padding: 10px 15px;
    position: absolute;
    font-size: 20px;
    bottom: 2.5%;
    left: 35%;
    border: 2px solid #fcb616;
    border-radius: 8px;
  }
  .btn-3
  {
    background-color: #ae2086;
    color: #fcb616;
    padding: 10px 15px;
    position: absolute;
    font-size: 20px;
    bottom: 2.5%;
    left: 56%;
    border: 2px solid #fcb616;
    border-radius: 8px;
  }


  //.background_preview{
  //  background: url("../assets/imgs/gif.jpg") no-repeat center center;
  //  background-size: cover;
  //  position: fixed;
  //  z-index: 1000;
  //    height: 100%;
  //    width: 100%;
  //  background-position: 100% 100%;
  //  background-attachment: fixed;
  //}
  //.thank
  //{
  //  //width: 832px;
  //  //height: 562px;
  //  //position: fixed;
  //  //margin: 105px 90px 125px 102px;
  //  width: 832px;
  //  height: 605px;
  //  position: fixed;
  //  margin: 87px 90px 125px 102px;
  //}
}
