page-camera {

  .background-camera{
    background: url("../assets/imgs/gif_frame.png")  no-repeat center center;
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-color: #ffffff;
    background-attachment: fixed;
  }

}
html, body, ion-app, ion-content, ion-page, .nav-decor {
  background-color: transparent !important;
}
